//- todo fd use? 
//- mixin image(path,name,href = '#',)
//-     a(href=`${href}`)
//-         img(src=require(`./assets/img/${path}/${name}`) alt=name)

mixin link-image(id="",className,href,path,name)
    a(id=id class=className href=`${href}`)
        img(src=require(`../../images/${path}/${name}`), alt=name) 